<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deadswine.brickator.library">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:theme="@android:style/Theme.Translucent"
            android:name="com.deadswine.brickator.library.ScreenShotPermissionActivity" />
    </application>


</manifest>